@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  color: #fff;
  background-color: #001523;
  min-height: 100vh;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.project-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  margin-bottom: 4rem;
}

li {
  width: 320px;
  background-color: #f6f6f6;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}

li a {
  display: flex;
  flex-direction: column;
}

li p {
  font-size: 1.2rem;
  font-weight: 600;
  padding-block: 2rem;
  flex: 1;
  background-color: #002945;
}

li img {
  display: block;
  object-fit: cover;
  height: 200px;
  width: 320px;
}

footer {
  color: #fff;
  font-size: 1.2rem;
  padding-block: 0.8rem;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  text-align: center;
}

footer a {
  text-decoration: underline;
  font-weight: 600;

  transition: all 0.5s;
}
footer a:hover {
  color: #d90429;
}

@media (min-width: 481px) {
  :root {
    font-size: 70%;
  }

  h1 {
    font-size: 2.6rem;
  }

  h2 {
    text-align: left;
    font-size: 1.8rem;
  }

  li:hover {
    transform: scale(1.2);
  }
}
